<nav>
  <ul class="display-flex gap-20">
    <li class="display-flex justify-center align-center"><small>Vender</small></li>
    <li class="display-flex justify-center align-center"><small>Comprar</small></li>
    <li class="display-flex justify-center align-center"><small>Arriendo</small></li>
    <li class="display-flex justify-center align-center"><small>Arrendar</small></li>
    <li class="display-flex justify-center align-center"><small>Asesoria</small></li>
    <li class="display-flex justify-center align-center"><small>Contacto</small></li>
    <li class="display-flex justify-center align-center"><small>Sobre nosotros</small></li>
  </ul>
</nav>
