<nav class="w-100" role="navigation" aria-label="Menú principal">
  <ul class="display-flex gap-20" role="menubar" aria-label="Opciones de navegación">
    <li (mouseover)="service.hideMenu()">
      <button>Logo</button>
    </li>
    @for (item of navbarItems; track $index) {
    <li
      #rla="routerLinkActive"
      routerLink="{{ item.route }}"
      routerLinkActive="active"
      role="menuitem"
      tabindex="0"
      aria-label="{{ item.ariaLabel }}"
      [attr.aria-current]="rla ? 'page' : undefined"
      (mouseover)="currentTemplate.set(item.route); service.showMenu()"
    >
      <small>{{ item.label }}</small>
    </li>
    }
    <li (mouseover)="service.hideMenu()">
      <button>Buscar</button>
    </li>
  </ul>
  @if (service.show()) {
  <app-navbar-submenu
    class="enter-container"
    animate.enter="enter-animation"
    animate.leave="leave-animation"
    (mouseleave)="service.hideMenu()"
    [template]="_currentTemplate()"
  >
  </app-navbar-submenu>
  }
</nav>

<ng-template #menuSales>
  <!-- contenido del menú de ventas -->
  <app-menu-sales />
</ng-template>

<ng-template #menuBuys>
  <!-- contenido del menú de compras -->
  <app-menu-buys />
</ng-template>

<ng-template #menuRent>
  <!-- contenido del menú de arriendo -->
  <app-menu-rent />
</ng-template>

<ng-template #menuRenting>
  <!-- contenido del menú de arrendamientos -->
  <app-menu-renting />
</ng-template>

<ng-template #menuSupport>
  <!-- contenido del menú de asesoria -->
  <app-menu-support />
</ng-template>

<ng-template #menuContact>
  <!-- contenido del menú de contacto -->
  <app-menu-contact />
</ng-template>

<ng-template #menuAboutUs>
  <!-- contenido del menú de sobre nosotros -->
  <app-menu-about-us />
</ng-template>
