<mat-toolbar
  color="primary"
  class="toolbar-navbar"
  [ngClass]="{ open: service.showSubmenu() }"
  (mouseover)="service.showSubmenu() ? service.showMenu() : null"
  (mouseleave)="service.hideMenu()"
>
  <!-- TODO: Este es para bloquear el hiden -->
  <!-- <mat-toolbar
  color="primary"
  class="toolbar-navbar"
  [ngClass]="{ open: service.showSubmenu() }"
  (mouseover)="service.showSubmenu() ? service.showMenu() : null"
> -->
  <nav
    role="navigation"
    aria-label="Menú principal"
    [ngClass]="{
      'justify-content-center': !breakpointsService.isMobile(),
      'justify-content-space-between': breakpointsService.isMobile()
    }"
  >
    <!-- Boton menu mobile left -->
    @if(breakpointsService.isMobile()){
    <button
      matIconButton
      type="button"
      aria-label="Toggle sidenav"
      (click)="sidenavLeft.toggle()"
      [class.display-none]="!breakpointsService.isMobile() && sidenavLeft.opened"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    }
    <!-- Menu navbar -->
    @if(!breakpointsService.isMobile()) {
    <ul role="menubar" aria-label="Opciones de navegación">
      @for (item of navbarItems; track $index) {
      <li
        #rla="routerLinkActive"
        routerLink="{{ item.route }}"
        routerLinkActive="active"
        role="menuitem"
        tabindex="0"
        aria-label="{{ item.ariaLabel }}"
        [attr.aria-current]="rla ? 'page' : undefined"
        (mouseover)="currentTemplate.set(item.route); service.showMenu()"
      >
        <small>{{ item.label }}</small>
      </li>
      }
    </ul>
    }
    <!-- Boton menu mobile right -->
    @if(breakpointsService.isMobile()){
    <button
      matIconButton
      type="button"
      aria-label="Toggle sidenav"
      (click)="sidenavRight.toggle()"
      [class.display-none]="!breakpointsService.isMobile() && sidenavRight.opened"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    }
    <!-- Submenu -->
    @if (service.showSubmenu()) {
    <app-navbar-submenu
      class="submenu"
      animate.enter="enter-animation"
      animate.leave="leave-animation"
      [template]="_currentTemplate()"
    />
    }
  </nav>
</mat-toolbar>

<ng-template #menuSales>
  <!-- contenido del menú de ventas -->
  <app-menu-sales />
</ng-template>

<ng-template #menuBuys>
  <!-- contenido del menú de compras -->
  <app-menu-buys />
</ng-template>

<ng-template #menuRent>
  <!-- contenido del menú de arriendo -->
  <app-menu-rent />
</ng-template>

<ng-template #menuRenting>
  <!-- contenido del menú de arrendamientos -->
  <app-menu-renting />
</ng-template>

<ng-template #menuSupport>
  <!-- contenido del menú de asesoria -->
  <app-menu-support />
</ng-template>

<ng-template #menuContact>
  <!-- contenido del menú de contacto -->
  <app-menu-contact />
</ng-template>

<ng-template #menuAboutUs>
  <!-- contenido del menú de sobre nosotros -->
  <app-menu-about-us />
</ng-template>
