@use '../../../../../assets/styles/fonts' as *;

.mat-toolbar {
  padding: 0;
  display: flex;
  position: fixed;
  align-items: start;
  background: #ebebeb;
  justify-content: center;
  height: var(--height-navbar);
  transition: height 0.5s cubic-bezier(0.25, 1, 0.5, 1);

  &.open {
    height: var(--height-navbar-submenu);
  }

  nav {
    width: 100%;
    display: flex;
    max-width: 1024px;
    position: relative;
    height: var(--height-navbar);

    &.justify-content-center {
      justify-content: center;
    }

    &.justify-content-space-between {
      justify-content: space-around;
    }

    ul {
      width: 100%;
      display: flex;
      margin-inline: auto;
      align-items: center;
      padding-inline: 22px;
      height: var(--height-navbar);
      justify-content: space-around;

      li {
        flex: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          justify-content: end;
        }

        &:last-child {
          justify-content: start;
        }
      }
    }
  }
}

.submenu {
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 1em;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  height: var(--height-submenu);
  margin-top: var(--height-navbar);
  padding: 20px 20px 0px 20px;
}

.enter-animation {
  animation: expand 0.3s ease;
}

.leave-animation {
  animation: contract 0.4s;
}

@keyframes expand {
  from {
    opacity: 0;
    height: var(--height-navbar);
  }
  to {
    opacity: 1;
    height: var(--height-navbar-submenu);
  }
}

@keyframes contract {
  from {
    opacity: 1;
    height: var(--height-navbar-submenu);
  }
  to {
    opacity: 0;
    height: 0px;
  }
}
