.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;

  &.mobile {
    width: 100%;
  }
}

.sidenav .mat-toolbar {
  width: 100%;
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  // gap: 10px;
  // height: 50px;
  // display: flex;
  // align-items: center;

  // &.toolbar-sidenav {
  //   justify-content: space-between;
  // }

  // &.toolbar-navbar {
  //   justify-content: space-between;
  // }
}
