.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;

  &.phone {
    width: 100%;
  }
  &.tablet {
    width: 50%;
  }
}

.mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: auto;
  margin-top: 44px;
}
