<mat-sidenav-container class="sidenav-container">
  <!-- Menu izquierdo -->
  <mat-sidenav
    #sidenavLeft
    fixedInViewport
    class="sidenav"
    position="start"
    [opened]="false"
    [ngClass]="{ mobile: isMobile() }"
    [mode]="isMobile() ? 'over' : 'side'"
    [attr.role]="isMobile() ? 'dialog' : 'navigation'"
  >
    <mat-toolbar class="toolbar-sidenav justify-between">
      Menu izquierdo
      <button
        matIconButton
        type="button"
        aria-label="Toggle sidenav"
        (click)="sidenavLeft.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar-navbar">
      <ul class="w-100 display-flex justify-between align-center">
        <li>
          @if(isMobile()){
          <button
            matIconButton
            type="button"
            aria-label="Toggle sidenav"
            (click)="sidenavLeft.toggle()"
            [class.display-none]="!isMobile() && sidenavLeft.opened"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          }
        </li>
        <li>
          @if(!isMobile()) {
          <app-navbar-menu />
          }
        </li>
        <li>
          @if(isMobile()){
          <button
            matIconButton
            type="button"
            aria-label="Toggle sidenav"
            (click)="sidenavRight.toggle()"
            [class.display-none]="!isMobile() && sidenavRight.opened"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          }
        </li>
      </ul>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

  <!-- Menu derecho -->
  <mat-sidenav
    #sidenavRight
    fixedInViewport
    position="end"
    class="sidenav"
    [opened]="false"
    [ngClass]="{ mobile: isMobile() }"
    [mode]="isMobile() ? 'over' : 'side'"
    [attr.role]="isMobile() ? 'dialog' : 'navigation'"
  >
    <mat-toolbar class="toolbar-sidenav justify-between">
      <button
        matIconButton
        type="button"
        aria-label="Toggle sidenav"
        (click)="sidenavRight.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Menu derecho
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
