@use './variables' as *;
@use './flex' as *;
@use './sizing' as *;
@use './fonts' as *;

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.link {
  cursor: pointer;
}

.icon {
  font-family: 'icomoon' !important;
  font-size: 14px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
